Repository SSAFYnity/Job-Preparation-Challenge-6th, pull requests merged in 2025-05, with the labels that each got.

#10 solved 골드바흐의추측 - 136ms 2060KB
  Baekjoon/골드바흐의 추측/골드바흐의추측_전규훈.cpp
Labels: C++, Easy

#35 solved 입국심사 - 42.98ms 6.58MB
  Programmers/입국심사/입국심사_전규훈.cpp
Labels: C++, Easy

#39 solved 골든바흐의 추측 - 2552ms 53628kb
  Baekjoon/골드바흐의 추측/골든바흐의추측_김수빈.java
Labels: Easy, Java

#12 solved 골드바흐의추측 - 164ms 17.184mb
  Baekjoon/골드바흐의추측/골드바흐의추측_허승경.java
Labels: Easy, Java

#11 solved 골드바흐의추측 - 152ms 34536kb
  Baekjoon/골드바흐의추측/골드바흐의추측_박단비.py
Labels: Easy, Python

#20 solved 여행경로 - 12.74ms 89.2mb
  Programmers/여행경로/여행경로_허승경.java
Labels: Easy, Java

#27 solved 인간-컴퓨터상호작용 - 776ms 110.216mb
  Baekjoon/인간-컴퓨터상호작용/인간-컴퓨터상호작용_허승경.java
Labels: Java, Normal

#40 solved 인간-컴퓨터 상호작용 - 652ms 94464kb
  Baekjoon/인간-컴퓨터 상호작용/인간-컴퓨터상호작용_김수빈.java
Labels: Easy, Java

#41 solved 여행경로 - 1.50ms, 85.1mb
  Programmers/여행경로/여행경로_김수빈.java
Labels: Java, Normal

#37 sovled 입국심사 - 138.56ms 109mb
  Programmers/입국심사/입국심사_허승경.java
Labels: Hard, Java

#42 solved 입국심사 - 114.16ms, 104MB
  Programmers/입국심사/입국심사_김수빈.java
Labels: Java, Normal

#53 solved 공주님의 정원 - 400ms, 54972kb
  Baekjoon/공주님의정원/공주님의정원_김수빈.java
Labels: Java, Normal

#45 solved 공주님의정원 - 472ms 53.440mb
  Baekjoon/공주님의정원/공주님의정원_허승경.java
Labels: Hard, Java

#22 solved 여행경로 - 372.92ms 13.6mb
  Programmers/여행경로/여행경로_박단비.py
Labels: Normal, Python

#29 solved 인간-컴퓨터상호작용 - 684ms 95976kb
  Baekjoon/인간-컴퓨터상호작용/인간-컴퓨터상호작용_박단비.py
Labels: Normal, Python

#36 solved 입국심사 - 467.15ms 13.6mb
  Programmers/입국심사/입국심사_박단비.py
Labels: Normal, Python

#44 solved 공주님의정원 - 2708ms 46504kb
  Baekjoon/공주님의정원/공주님의정원_박단비.py
Labels: Normal, Python

#55 solved 튜플 - 496.61ms 19.5mb
  Programmers/튜플/튜플_박단비.py
Labels: Normal, Python

#56 solved 튜플 - 110.13ms, 118mb
  Programmers/튜플/튜플_김수빈.java
Labels: Easy, Java

#66 solved 압축 - 0.81ms, 94.1mb
  Programmers/압축/압축_김수빈.java
Labels: Easy, Java

#58 solved 스도쿠 - 820ms 19.404mb
  Baekjoon/스도쿠/스도쿠_허승경.java
Labels: Java, Normal
